<% if @provision.errors.any? %>
    <div id="error_explanation">
    <h2> <%= pluralize(@provision.errors.count, "error") %> prohibited provision from being saved: </h2>
    <ul>
        <% @provision.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
    </div>
<% end %>