<h1><%= @provision.name %></h1>
<h3>Type: <%= @provision.provision_type %></h3>
<h3>Approximate Calories per Serving: <%= @provision.approx_cals_per_serving %> calories</h3>


<%= render partial: 'provision_display', locals: {provision: @provision} %>